<Files .htaccess>
order allow,deny
deny from all
</Files>

# unsafe-inline needed for svg
Header add Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; "

RewriteEngine on
# allow the url codes to be sent as get data
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php?code=$1 [NC]