:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  background-color: white;
  color: black;
}

#form-container {
  max-width: 300px;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-row-gap: 1em;
}

input:not([type=submit]) {
  color: inherit;
  background-color: inherit;
  border-color: white;
  border-style: ridge;
  border-width: 1px;
  border-radius: 3px;
}

input {
  font: inherit;
}

input:focus {
  background-color: inherit;
}

#container {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: large;
    text-align: center;
  }
  #form-container {
    max-width: 100%;
    grid-row-gap: 0.75em;
    grid-template-columns: 100%;
    justify-items: center;
  }

  input, button {
    font-size: 1.2em;
  }

  input:not([type=submit]) {
    width: 100%;
  }

  input[type=color] {
    width: 33%;
    height: 3rem;
  }

  p {
    margin:0.2rem;
  }
}